# Subjects
B-OOP-400_raytracer.pdf
B-OOP-400_raytracer_bootstrap.pdf

# Binary
raytracer
bonus/PPMtoPNG/PPMtoPNG

# Temp files
*.o
*.a
*.so
*#
*~
*.png
*.ppm

# IDEs
.idea/
.vscode/

# Valgrind
vgcore.*
